h1{
	color:orange;
	font-family:initial;
	font-size:50px;
	font-style:normal;
	text-align: center;
}

body{
	color:#00ff00;
	font-weight: bold;
	font-size:24px;
	font-family: cursive;
	font-stretch: semi-condensed;
	font-variant-position: normal;
	background-color:grey;
	
}

ul { 

	text-align: left;
	padding: 20px;
	border-width:10px;
	margin:10px;
	
}

a:link,a:visited{
	text-decoration:none;
    color:black;
    display: block;
    border-width :1px;
    display: inline-block;
    cursor: pointer;

}
a:hover,a:active{
	color:green;

}

footer.f,aside.f{
	font-size:15px;
	color: black;
}

